/*common shared style*/
body {
    font-family: 'Open Sans', sans-serif;
}

/* head related style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items:center;
}
.banner .profile-pic{
    width: 500px;
}

/* common button style */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 30px;
}